* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.page {
  height: 100vh;
  background-image: url(https://i.yapx.cc/GzOYZ.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  color: white;
}

.page__text {
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}

.page__button {
  width: 288px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  background: rgb(160, 8, 160);
  box-shadow: 0 0 5px 1px rgb(16, 170, 241);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.page__button:hover {
  opacity: .85;
}